.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 100%;
}

.example-form {
  display: flex;
  flex-direction: column;
}

.example-form > * {
  width: 100%;
}

.btn{
  float: right;
}

.example-full-width {
  width: 100%;
}

.song-list-container {
  width: 100%;
}
